<h1>Parcel Results</h1>
<h2>Dimensions</h2>
<h5> Width: <%= @width %></h5>
<h5> Length: <%= @length %></h5>
<h5> Depth: <%= @depth %></h5>
<h5> Weigth: <%= @weight %></h5>
<h5> Your parcel will cost: $ <%= @cost %> </h5>
